<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="./CSS/Ingredient.css">  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="code.js"></script>
</head>
<body>
    <div class="sichuan">
        <h4>Ingredients Hotpot sichuan</h4>
        <dl>
          <dt>Sauce Hotpot</dt>
          <dd>- 1 packet of Little Sheep Hot Pot Soup Basen</dd>
          <dd>- 8 cups water</dd>
          <dt>Meat</dt>
          <dd>- Thinly sliced meat (beef, lamb, or chicken) </dd>
          <dd>- Assorted seafood (shrimp, fish balls, squid, etc.) </dd>
          <dd>- boulette</dd>
          <dt>Vegetables</dt>
          <dd>- Tofu, sliced</dd>
          <dd>- Assorted mushrooms</dd>
          <dd>- Leafy greens (bok choy, spinach, or Chinese cabbage)</dd>
          <dd>- Bamboo shoots, sliced</dd>
          <dt>Others</dt>
          <dd>- noodle</dd>        
        </dl>
    </div>

    <div class="champinion">
        <h4>Ingredients Hotpot champinion</h4>
        <dl>
          <dt>Sauce Hotpot</dt>
          <dd>- 1 packet of Little Sheep Hot Pot Soup Basen</dd>
          <dd>- 8 cups water</dd>
          <dt>Meat</dt>
          <dd>- Thinly sliced meat (beef, lamb, or chicken) </dd>
          <dd>- Assorted seafood (shrimp, fish balls, squid, etc.) </dd>
          <dd>- boulette</dd>
          <dt>Vegetables</dt>
          <dd>- Tofu, sliced</dd>
          <dd>- Assorted mushrooms</dd>
          <dd>- Leafy greens (bok choy, spinach, or Chinese cabbage)</dd>
          <dd>- Bamboo shoots, sliced</dd>
          <dt>Others</dt>
          <dd>- noodle</dd>        
        </dl>
    </div>

    <div class="bbq">
        <h4>Ingredients BBQ</h4>
        <dl>
          <dt>Meat</dt>
          <dd>- Meat (beef, porc, or chicken) </dd>
          <dd>- Assorted seafood (shrimp, fish balls, squid, etc.) </dd>
          <dd>- boulette</dd>
          <dt>Vegetables</dt>
          <dd>- Tofu, sliced</dd>
          <dd>- Assorted mushrooms</dd>
          <dd>- Leafy greens (bok choy, spinach, or Chinese cabbage)</dd>
          <dd>- Potato</dd>
          <dd>- Salade</dd>
          <dt>Others</dt>
          <dd>- sacue bbq</dd>        
        </dl>
    </div>

    <div class="kteav">
        <h4>Ingredients Kteav Phnom Penh</h4>
        <dl>
          <dt>Meat</dt>
          <dd>- Meat (beef, porc, or chicken) </dd>
          <dd>- Assorted seafood (shrimp, fish balls, squid, etc.) </dd>
          <dd>- boulette</dd>
          <dt>Vegetables</dt>
          <dd>- Leafy greens (bok choy, spinach, or Chinese cabbage)</dd>
          <dd>- Potato</dd>
          <dd>- Salade</dd>
          <dd>- beans</dd>
          <dt>Others</dt>
          <dd>- sacue bbq</dd>        
        </dl>
    </div>

</body>
</html>